{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
    <header >
        {% include '_navigation.html' %}
    </header>
    {%block content %}
    <h1 style="text-align: center;">Welcome to {{ title }}</h1>
    {% endblock content %}
</body>
    <footer style="text-align: center;">
        {{ macros.light_or_dark_mode('body') }}
    </footer>
</html>